<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Category List</title>
    <style>
        table,
        th,
        td {
            border: 1px solid;
        }
    </style>
</head>

<body>
    <h1>資産カテゴリ一覧</h1>
    {% if asset_category_list %}
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>資産カテゴリ</th>
                <th>クレジット</th>
            </tr>
        </thead>
        <tbody>
            {% for asset_category in asset_category_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'budgeting:asset_category_update' asset_category.id %}">{{ asset_category.name }}</a></td>
                <td>
                    {% if asset_category.is_credit %}
                        ○
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <a href="{% url 'budgeting:asset_category_create' %}">追加</a>
    <hr>
    <h2>各種リンク</h2>
    <a href="{% url 'budgeting:asset_list' %}">資産一覧へ</a>
    <br>
    <a href="{% url 'budgeting:asset_category_list' %}">資産カテゴリ一覧へ</a>
    <br>
    <a href="{% url 'budgeting:cashflow_list' %}">消費一覧へ</a>
    <br>
    <a href="{% url 'budgeting:cashflow_category_list' %}">消費カテゴリ一覧へ</a>
</body>

</html>