<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Category</title>
    <style>
        table,
        th,
        td {
            border: 1px solid;
        }
    </style>
</head>

<body>
    <h1>資産カテゴリ編集画面</h1>
    {% if asset_category %}
    <form action="{% url 'budgeting:mod_asset_category' asset_category.id %}" method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>項目</th>
                    <th>入力</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label for="asset_category_name">カテゴリ名：</label></td>
                    <td><input type="text" name="asset_category_name" id="asset_category_name"
                            value="{{ asset_category.name }}"></td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="更新">
    </form>
    {% endif %}
</body>

</html>