{% include "general/head.html" %}
{% include "general/header.html" %}

<body>
    <div class="container-fluid">
        <h1>資産カテゴリ一覧</h1>
        {% if asset_category_list %}
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
            <div class="list-group">
                {% for asset_category in asset_category_list %}
                <a href="{% url 'budgeting:asset_category_update' asset_category.id %}"
                    class="list-group-item list-group-item-action">
                    {{ asset_category.name }}
                    {% if asset_category.is_credit %}
                    （クレジット）
                    {% endif %}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <a href="{% url 'budgeting:asset_category_create' %}"
            class="add-btn btn btn-primary position-fixed bottom-0 end-0 m-3">追加</a>
    </div>
    {% include "general/bootstrapScript.html" %}
</body>
{% include "general/footer.html" %}