<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Category</title>
    <style>
        table,
        th,
        td {
            border: 1px solid;
        }
    </style>
</head>

<body>
    <h1>資産カテゴリ編集画面</h1>
    {% if asset_category %}
    <form action="{% url 'budgeting:mod_asset_category' asset_category.id %}" method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>項目</th>
                    <th>入力</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label for="asset_category_name">カテゴリ名：</label></td>
                    <td><input type="text" name="asset_category_name" id="asset_category_name"
                            value="{{ asset_category.name }}"></td>
                </tr>
                <tr>
                    <td>クレジット機能：</td>
                    <td>
                        <input type="checkbox" name="is_credit" id="is_credit"
                            {% if asset_category.is_credit %}
                                checked
                            {% endif %}
                        >
                        <label for="is_credit">クレジット</label>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="更新">
    </form>
    {% endif %}
    <hr>
    <h2>各種リンク</h2>
    <a href="{% url 'budgeting:asset_list' %}">資産一覧へ</a>
    <br>
    <a href="{% url 'budgeting:asset_category_list' %}">資産カテゴリ一覧へ</a>
    <br>
    <a href="{% url 'budgeting:cashflow_list' %}">消費一覧へ</a>
    <br>
    <a href="{% url 'budgeting:cashflow_category_list' %}">消費カテゴリ一覧へ</a>
</body>

</html>