{% include "general/head.html" %}
{% include "general/header.html" %}

<body>
    <h1>利用履歴カテゴリ一覧</h1>
    {% if cashflow_category_list %}
    <h2>消費</h2>
    <table>
        <thead>
            <tr>
                <th>カテゴリ名</th>
            </tr>
        </thead>
        <tbody>
            {% for cashflow_category in cashflow_category_list %}
            {% if not cashflow_category.is_income %}
            <tr>
                <td><a href="{% url 'budgeting:cashflow_category_update' cashflow_category.id %}">{{ cashflow_category.name }}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <h2>収入</h2>
    <table>
        <thead>
            <tr>
                <th>カテゴリ名</th>
            </tr>
        </thead>
        <tbody>
            {% for cashflow_category in cashflow_category_list %}
            {% if cashflow_category.is_income %}
            <tr>
                <td><a href="{% url 'budgeting:cashflow_category_update' cashflow_category.id %}">{{ cashflow_category.name }}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <a href="{% url 'budgeting:cashflow_category_create' %}">追加</a>
    {% include "general/bootstrapScript.html" %}
</body>
{% include "general/footer.html" %}

</html>