{% include "general/head.html" %}
{% include "general/header.html" %}

<body>
    <div class="container-fluid">
        <h1>利用履歴カテゴリ一覧</h1>
        <h2>消費</h2>
        {% if cashflow_category_list %}
        <div class="container-fluid mb-4">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                <div class="list-group">
                    {% for cashflow_category in cashflow_category_list %}
                    {% if not cashflow_category.is_income %}
                    <a href="{% url 'budgeting:cashflow_category_update' cashflow_category.id %}"
                        class="list-group-item list-group-item-action">
                        {{ cashflow_category.name }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <h2>収入</h2>
        {% if cashflow_category_list %}
        <div class="container-fluid">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                <div class="list-group">
                    {% for cashflow_category in cashflow_category_list %}
                    {% if cashflow_category.is_income %}
                    <a href="{% url 'budgeting:cashflow_category_update' cashflow_category.id %}"
                    class="list-group-item list-group-item-action">
                    {{ cashflow_category.name }}
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <a href="{% url 'budgeting:cashflow_category_create' %}"
    class="add-btn btn btn-primary position-fixed bottom-0 end-0 m-3">追加</a>
</div>
{% include "general/bootstrapScript.html" %}
</body>
{% include "general/footer.html" %}