{% include "general/head.html" %}
{% include "general/header.html" %}

<body>
    <div class="container-fluid">
        <h1>利用履歴画面</h1>
        {% if cashflow_list %}
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
            <div class="list-group">
                {% for cashflow in cashflow_list reversed %}
                <a href="{% url 'budgeting:cashflow_update' cashflow.id %}"
                    class="list-group-item list-group-item-action">
                    【日付】{{ cashflow.date|date:"y/m/d H:i" }}
                    <br>
                    【用途】{{ cashflow.name }}
                    【カテゴリ】{{ cashflow.category }}
                    <br>
                    【金額】{{ cashflow.amount }}
                    【資産】{{ cashflow.asset }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <a href="{% url 'budgeting:cashflow_create' %}" class="add-btn btn btn-primary position-fixed bottom-0 end-0 m-3">追加</a>
        {% include "general/bootstrapScript.html" %}
    </div>
</body>
{% include "general/footer.html" %}