<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Flow Category</title>
</head>
<body>
    <h1>利用履歴カテゴリ編集画面</h1>
    {% if cash_flow_category %}
    <form action="{% url 'budgeting:cash_flow_category_list' %}" method="post">
        {% csrf_token %}
        <ul>
            <li>
                <label for="name">カテゴリ名：</label>
                <input type="text" name="name" id="name" value="{{ cash_flow_category.name }}">
            </li>
        </ul>
        <input type="submit" value="更新">
    </form>
    {% endif %}
</body>
</html>