<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Flow Category List</title>
</head>
<body>
    <h1>利用履歴カテゴリ一覧</h1>
    {% if cash_flow_category_list %}
    <ul>
        {% for cash_flow_category in cash_flow_category_list %}
        <li><a href="{% url 'budgeting:cash_flow_category' cash_flow_category.id %}">{{ cash_flow_category.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>